html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:25px;
    text-align: center;
    height: 100%;
    margin:0;
    padding: 0;
}

h1{
    vertical-align: middle;
}

.Top-Button{
    width: 250px;
    aspect-ratio: 3/1;
    border-radius: 10%;
    vertical-align: middle;
    font-size: .5em;
    color: red;
    margin: 0 50px;
}
#Table {
    height: 70%;
    align-self: stretch;
    border: 1px solid black;
    margin: 10px;
    display:flex;
    flex-direction: column;
    background-color: rgba(175, 245, 225, 0.5);
    border-radius: 25%;
}

#Dealer-Container{
    flex:1;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#Player-Seats{
    flex:1;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}


.Player-Container {
    /* border: 1px solid black; */
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.Player-Name {
    /* border: 1px solid black; */
    flex: 1;
    margin: 5px;
    font-weight: bold;
    font-size: larger;
}

.Cash-Button {
    flex: 1;
    width: 70px;
    border-radius: 50%;
    font-size: large;
    text-align: center;
}
.Hands-Container {
    flex: 5;
    margin: 2px;
    display: flex;
}

.Points-Button {
    flex: 1;
    width: 70px;
    border-radius: 50%;
    background-color: lightpink;
    font-size: large;
}

.Options-Container {
    flex: 1;
    margin: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Options-Button{
    height: 25px;
    width: 75px;
    border-radius: 18px;
    font-size: large;
    background-color: lightcyan;
}

.Results-Button{
    height: 25px;
    width: 150px;
    border-radius: 18px;
    font-size: large;
    color: red;
    background-color: whitesmoke;
}

.Bet-Input-Box{
    width: 30px;
    height: 15px;
    background-color: rgba(175, 245, 225, 0.5);
    border: none;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
}

.Hand {
    display: inline-block;
    margin: 0 10px;
}

.Card-Image {
    width: 80px;
    transform: scale (0.1);
}
.Cards-Container img:not(:first-of-type){
    margin-left: -45px;
}

.Hand-Buttons-Container{
    display:flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font-size: large;
}

.Cards-Container{
    display:flex;
    margin: 10px 5px;
    justify-content: center;
}

.Hand-Options-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 5px;
}