html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:25px;
    text-align: center;
    height: 100%;
    margin:0;
    padding: 0;
}

h1{
    vertical-align: middle;
}

.Top-Button{
    width: 200px;
    aspect-ratio: 2/1;
    border-radius: 50%;
    vertical-align: middle;
    font-size: .5em;
    color: red;
    margin: 0 50px;
}
#Table {
    height: 70%;
    align-self: stretch;
    border: 1px solid black;
    margin: 10px;
    display:flex;
    flex-direction: column;
    background-color: rgba(175, 245, 225, 0.5);
    border-radius: 25%;
}

#Dealer-Container{
    flex:1;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#Player-Seats{
    flex:1;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}


.Player-Container {
    /* border: 1px solid black; */
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.Player-Name {
    /* border: 1px solid black; */
    flex: 1;
    margin: 5px;
    font-weight: bold;
    font-size: larger;
}

.Cash-Button {
    flex: 1;
    width: 50px;
    border-radius: 50%;
    font-size: large;
    text-align: center;
}
.Hands-Container {
    flex: 5;
    margin: 2px;
    display: flex;
}

.Points-Button {
    flex: 1;
    width: 50px;
    border-radius: 50%;
    background-color: lightpink;
    font-size: large;
}

.Options-Container {
    flex: 1;
    margin: 2px;
    display:flex;
    justify-content: center;
}

.Options-Button{
    height: 100%;
    width: auto;
    border-radius: 50%;
    font-size: large;
}

.Bet-Input-Box{
    width: 20px;
    height: 100%;
    background-color: rgba(175, 245, 225, 0.5);
    border: none;
    font-weight: 700;
}

.Hand {
    display: inline-block;
}

.Card-Image {
    width: 80px;
    transform: scale (0.1);
}

.Hand-Buttons-Container{
    display:flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font-size: large;
}

.Cards-Container{
    display:flex;
    margin: 10px 5px;
}